@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-cyan/theme.css"
  layer(primereact);

@layer tailwind-base {
  @tailwind base;

  body {
    @apply font-roboto;
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  .font-roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
}
